

/*--Establish the color scheme--*/

/*--This color scheme is monochromatic in green tones--*/


:root {
  --white: #ffffff;
  --nearwhite: #f3f3f3;
  --nearBlackTone: #434343;
  --lighttone: #c8d8c2;
  --mediumtone: #8e9c88;
  --darktone: #596e44;
    
    /* Monochrome Green
    These colors are monochrome in a green hue.
*/

--baseColorMonochromeGreen: #C1F5C6;

--lightMonochromeGreen: #ADDBB1;

--mediumMonochromeGreen: #93BA96;

--darkMonochromeGreen: #283329;    
    
--contrastMonochromeGreen: #4F6350;


/*Complementary Produce
    These colors are complementary to green and resemble produce colors like blackberries and mango.
*/


--baseColorComplementaryProduce: #C1F5C6;

--lightComplementaryProduce: #C5B8CF;

--mediumComplementaryProduce: #786056;

--darkComplementaryProduce: #33104A;

--contrastComplementaryProduce: #CC511D;


/*Complementary Vista
    These colors are complementary to green and resemble a vista of wheat fields and blue sky.
*/

--baseColorComplementaryVista: #C1F5C6;

--lightComplementaryVista: #F2EDB8;

--mediumComplementaryVista: #9FE1F5;

--darkComplementaryVista: #241066;

--contrastComplementaryVista: #FF8F1F;
    
    
}


/*----- Color Scheme -----*/

/* Monochrome Green
    These colors are monochrome in a green hue.
*/

.monochromeGreen {

--baseColor: var(--baseColorMonochromeGreen);

--lightColor: var(--lightMonochromeGreen);

--mediumColor: var(--mediumMonochromeGreen);

--darkColor: var(--darkMonochromeGreen);    
    
--contrastColor: var(--contrastMonochromeGreen);
}

/*Complementary Produce
    These colors are complementary to green and resemble produce colors like blackberries and mango.
*/

.complementaryProduce {
--baseColor: var(--baseColorComplementaryProduce);

--lightColor: var(--lightComplementaryProduce);

--mediumColor: var(--mediumComplementaryProduce);

--darkColor: var(--darkComplementaryProduce);    
    
--contrastColor: var(--contrastComplementaryProduce);
}

/*Complementary Vista
    These colors are complementary to green and resemble a vista of wheat fields and blue sky.
*/

.complementaryVista {
--baseColor: var(--baseColorComplementaryVista);

--lightColor: var(--lightComplementaryVista);

--mediumColor: var(--mediumComplementaryVista);

--darkColor: var(--darkComplementaryVista);    
    
--contrastColor: var(--contrastComplementaryVista);

}


.sectionBackground:nth-of-type(odd) {
    background-color: var(--nearwhite);
    min-height: 400px;
    padding: 2px;
}

.sectionBackground:nth-of-type(even) {
    background-color: var(--baseColor);
    min-height: 400px;
    padding: 2px;
} 


.headerCategory:nth-of-type(even) {
    color: var(--darkColor);
}

.headerCategory:nth-of-type(odd) {
    color: var(--contrastColor);
}

  .mainCategory:nth-of-type(odd) {
    min-height: 400px;
    padding: 40px;
    display: flex;
   
    background: var(--baseColor);
    flex-direction: column;
    justify-content: top;
    align-items: left;
    color: var(--darkColor);
  }

  .mainCategory:nth-of-type(even) {
    min-height: 200px;
    padding: 40px;
    display: flex;
   
    background: var(--nearwhite);
    flex-direction: column;
    justify-content: top;
    align-items: left;
    color: var(--contrastColor);
  }

  .mainCategory h1 {
    color: var(--contrastColor);
  }


.mainCategory h4 {
    color: var(--darkColor);
}

  .mainCategory button {
    color: var(--contrastColor);
    background: var(--darkColor);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
  }


  .distinctCategory {
    display: flex;
    width: 100%;
    height: 20%;
    background: var(--baseColor);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--contrastColor);

    }

  .distinctCategory h1 {
    color: var(--contrastColor);
    }

span {
    font-family: Helvetica, sans-serif;
}



h1  {
    color: var(--darkColor);
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    margin-bottom: .3em;
    margin-left: 30px;
    text-align: left;
    text-decoration: none;
  }

  

h2  {
    color: var(--darkColor);
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
    margin-bottom: .3em;
    margin-left: 30px;
    text-align: left;
    text-decoration: none;
  }


h3 {
    font-size: 2em;
    font-family: Helvetica, sans-serif;
    margin-bottom: .3em;
    margin-left: 20px;
    text-align: left;
    text-decoration: none;
  }








h4  {

    font-size: 1em;
    font-family: Helvetica, sans-serif;
    margin-bottom: .3em;
    margin-left: 30px;
    text-align: left;
    text-decoration: none;
  }

/*--Format text for general content--*/

p  {
    color: var(--darkColor);
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    margin-bottom: .3em;
    margin-left: 30px;
    text-align: left;
    text-decoration: none;
  }



a {
  color: var(--nearwhite);
text-decoration: none;
}

.icon {
  padding: 6px 6px 6px 6px;
  text-decoration: none;

}




table, th, td {
  border: 0px solid blue;
  border-spacing: 0px;
}

th, td {
  padding-left: 3px;
  padding-right: 4px;
}


td{
    height: 20px;
    width: 50px;
}
/* change the color of the background */

.colorSchemeContainer{
  border: 10px solid var(--darkColor);
  padding-left: 0px; 
  padding-right: 0px;
  height: 50px;
}

.colorSchemeContainer2{
  border: 3px solid white;
  padding-left: 0px; 
  padding-right: 0px;
  height: 50px;
}

.colorPalette {
  background-color: yellow;
  width: 40px;
  height: 40px;
  border: 0px;
  border-spacing: 0px;
  padding: 0px;
  margin: 0px;
}

.underConstruction {
  text-align: left;
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%);
}

/*
create a background image so that text can be placed on top.
*/   
    
.hero-image {
  background-image: url("TroySidleEastRiverColor.jpeg");
  background-color: var(--mediumtone);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}


.heroNavigation {
  text-align: left;
  position: absolute;
  top: 10%;
  right: 10%;
  transform: translate(-50%, -50%);
  color: white;
  display: none;
}

.transparentCircle {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, -50%);
  background: #ffffffaa;
  border-radius: 50%;
}

body {
color: var(--darkMonochromeGreen);
background-color: var(--lightColor);
margin:0;
}

.sectionHeaderHeight 
{
    min-width: 800px;
    height: auto;
    min-height: 300px; 
    }

/*Alternate section styles*/



.sectionBackgroundImage 
{
    min-width: 800px;
    width: 100%;
    height: auto;
}



.monochromeGreen{
        background: var(--lightMonochromeGreen);
       	color: var(--darkMonochromeGreen);   
    }

.complementaryProduce{
        background: var(--lightComplementaryProduce);
       	color: var(--darkComplementaryProduce);   
    }

.complementaryVista{
        background: var(--lightComplementaryVista);
       	color: var(--darkComplementaryVista);
    }


.coolColorScheme{
        background: lightblue;
      	color: darkblue;
    }

.warmColorScheme{
        background: white;
       	color: darkred;
    }

.greyColorScheme{
        background: lightgrey;
       	color: darkslategray;
    

    }

.imageContainer{
  height: auto;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 30px;
}

.imageContainer:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute; 
  top: 30px; 
  background: none;
  background: rgba(0, 0, 0, 0); /* see-through */
  color: #f1f1f1; 
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 0px;
  text-align: center;
}

/* Attributes of the navigation bar */

.sideNavigation {
  height: 100%;
  width: 215px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--darkColor);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  font-family: Helvetica, sans-serif;
}  


.navigation a {
  padding: 16px 6px 6px 25px;
  text-decoration: none;
  font-size: 20px;
  color: var(--baseColor);
  display: block;
  transition: 0.3s;
}


.navigation a:hover {
  background-color: var(--baseColor);
  color: var(--darkColor);
}

/*tool tip to describe an object*/

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: var(--baseColor);
  color: var(--darkColor);
  text-align: center;
  border-radius: 16px;
  padding: 7px 0;
  font-size: 12px;
    
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -65px;

}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.main {
  margin-left: 180px; /* Same as the width of the sidenav */
  padding: 0px 0px;
}

.footer {
  margin-left: 0px; /* Same as the width of the sidenav */
  padding: 0px 180px;
  background-color: var(--darkColor);
}


/*delete
.test {
  background-color: yellow;
}
*/


.flex-container {
  display: flex;
  flex-wrap: wrap;

}

.flex-container > div {
  width: 200px;
  margin: 12px;
  text-align: left;
  line-height: 20px;
  font-size: 14px;
}





/* For the window pup up in Publications*/



body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The in-window close button */
.selectClose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.selectClose:hover,
.selectClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*--------------------------------------------------------*/








@media screen and (max-height: 1000px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    }
  div.sideNavigation {
    display: none;
  }
  div.heroNavigation {
    display: block;    
  }
  div.main {
      margin-left: 0px; /* Same as the width of the sidenav */
    }


@media only screen and (min-height: 900px) {
  body {
    background-color: lightblue;
    }
  div.sideNavigation {
    display: none;
  }
  div.main {
      margin-left: 0px; /* Same as the width of the sidenav */
    }


/*---------------------------------------------------------------*/
