

/*--The main header on the page.--*/
  h1  {
    color: white;
    font-size: 4em;
    font-family: Helvetica, sans-serif;
    margin-bottom: .3em;
    margin-left: 30px;
    text-align: left;
    text-decoration: none;
  }
  
/*--The secondary header on the page.--*/
  h2  {
    color: #596e44;
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
    margin-bottom: .3em;
    margin-left: 30px;
    text-align: left;
    text-decoration: none;
  }

/*--Format text for one section header--*/

h3  {
    color: #8e9c88;
    font-size: 2em;
    font-family: Helvetica, sans-serif;
    margin-bottom: .3em;
    margin-left: 20px;
    text-align: left;
    text-decoration: none;
  }

/*--Format text for one section subheader--*/

  h4  {
    color: #596e44;
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    margin-bottom: .3em;
    margin-left: 30px;
    text-align: left;
    text-decoration: none;
  }

/*--Format text for general content--*/

p  {
    color: #4c5641;
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    margin-bottom: .3em;
    margin-left: 30px;
    text-align: left;
    text-decoration: none;
  }


a {
  color: #fcf4db;
text-decoration: none;
}

/* change the color of the background */
/*
create a background image so that text can be placed on top.
*/   
    
.hero-image {
  background-image: url("TroySidleEastRiverBW.jpeg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
}


body {
background-color: lightgray;
margin:0;
}

.sectionHeaderHeight 
{
    min-width: 800px;
    height: auto;
    min-height: 300px; 
    }

.sectionBackgroundA {background-color: #f3f3f3;
    min-height: 200px;
    padding: 2px;

} 

.sectionBackgroundB {background-color: #c8d8c2;
    min-height: 200px;
    padding: 2px;

} 


.sectionBackgroundImage 
{
    min-width: 800px;
    width: 100%;
    height: auto;
}


